# Exclude local dev artifacts from Docker build context
node_modules
.pnpm
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.cjs
.pnp.loader.mjs
coverage
.dist
build
dist
.vscode
.git
.gitignore
.DS_Store
*.local
.env
